<style>
  .newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
  }

</style>
<h3>Video</h3>
<div class="text-center">
  <video autoplay=""  class="l_o_h" data-automation="VideoPlayer_video_video" loop="" muted playsinline=""
         poster="https://ak8.picdn.net/shutterstock/videos/14379028/preview/stock-footage-pedestrians-pass-bankrupt-blockbuster-video-store-wide-newbury-uk-feb.jpg">
    <source
      src="https://ak8.picdn.net/shutterstock/videos/14379028/preview/stock-footage-pedestrians-pass-bankrupt-blockbuster-video-store-wide-newbury-uk-feb.webm"
      type="video/webm">
    <source
      src="https://ak8.picdn.net/shutterstock/videos/14379028/preview/stock-footage-pedestrians-pass-bankrupt-blockbuster-video-store-wide-newbury-uk-feb.mp4"
      type="video/mp4">
  </video>

  <h3>Canvas</h3>
  <canvas id="myCanvas" width="200" height="100" style="border:1px solid #000000;">

  </canvas>
  <h3>Who are we?</h3>
  <div class="newspaper">
    Blockbuster LLC (formerly Blockbuster Entertainment, Inc.,[5] and also known as Blockbuster Video[6] or simply
    Blockbuster) was an American-based provider of home movie and video game rental services through a video rental
    shop, DVD-by-mail, streaming, video on demand, and cinema theater.[7] Blockbuster expanded internationally
    throughout the 1990s. At its peak in November 2004, Blockbuster employed 84,300 people worldwide, including about
    58,500 in the United States and about 25,800 in other countries, and had 9,094 stores in total, with more than 4,500
    of these in the US.[8][9][10][11]

    Competition from the Netflix mail-order service, Redbox automated kiosks, and video on demand services, as well as
    poor leadership, were major factors leading up to Blockbuster's eventual demise. Blockbuster began to lose
    significant revenue during the 2000s, and the company filed for bankruptcy protection in 2010.[12][13] The following
    year, its remaining 1,700 stores were bought by satellite television provider Dish Network.[14][15] By early 2014,
    the last 300 company-owned stores were closed.[16]

    As of 2020, the Blockbuster brand has mostly been retired. Dish still maintained a small number of Blockbuster store
    franchise and brand licensing agreements, which allowed some of the remaining privately owned franchised stores to
    remain open in the US and worldwide between 2014 and 2018. As of January 2020, the only remaining physical
    Blockbuster (a privately owned franchise) store in the entire world remains open in Bend, Oregon￼￼.
  </div>
</div>
